/* _content/BlazorApp/Shared/Footer.razor.rz.scp.css */
.footer[b-ivhxwnwf90] {
    background-color: #404244;
    color: #bbaa92;
    height: 30px;
}
/* _content/BlazorApp/Shared/Layout.razor.rz.scp.css */
#main[b-kchrgebzq8] {
    margin-bottom: 35px;
}
