<nav class="navbar navbar-expand-sm bg-dark-subtle sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">ACNH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Northern</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Southern</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        List All
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="allbugs">Bugs</a></li>
                        <li><a class="dropdown-item" href="allcreatures">Creatures</a></li>
                        <li><a class="dropdown-item" href="allfish">Fish</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" target="_blank" href="https://nookipedia.com/wiki/Bug/New_Horizons">Nookipedia Bugs</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://nookipedia.com/wiki/Sea_creature/New_Horizons">Nookipedia Creatures</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://nookipedia.com/wiki/Fish/New_Horizons">Nookipedia Fish</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>